Anathema/Content/Blueprint/Enemies/BatteryEnemy/BP_BatteryEnemy.uasset
Anathema/Content/Blueprint/Objets/BP_LevelGate.uasset
Anathema/Content/Blueprint/Objets/BP_LeverLevelGates.uasset
Anathema/Content/Blueprint/Objets/M_LeverLevelGates.uasset
Anathema/Content/Blueprint/Objets/S_LeverLevelGates.uasset
Anathema/Content/Blueprint/Weapons/BP_SwordAndShield_BatteryEnemy.uasset
Anathema/Content/Levels/FlixLevel.umap
Anathema/Content/Materials/M_BatteryEnemyy.uasset
Anathema/Content/Levels/VilleLD_ObjectivesDodz.umap
